/* Enter your custom styles here */

.sapUiForm .sapMText {
    overflow: hidden;
    font-size: .875rem;
    width: 573px;
}

.sapMSplitContainerDetail .sapMITB.sapUiResponsiveContentPadding > .sapMITBContainerContent > .sapMITBContent {
    padding: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sapMOH .sapMOHAttr .sapMObjectAttributeTitle,
.sapMOH .sapMOHAttr .sapMObjectAttributeText,
.sapMOH .sapMOHAttr .sapMObjectAttributeColon {
    font-size: 15px !important;
}

span#__xmlview1--objPrice-title {
    font-size: 15px;
}

.sapUiFormEdit .sapMText {
    width: 234px;
    display: block;
    min-height: 3rem;
    line-height: 1.375rem;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
}

.sapUiRespGridBreak.sapUiRespGridSpanXL4.sapUiRespGridSpanL4.sapUiRespGridSpanM4.sapUiRespGridSpanS12.sapUiFormElementLbl {
    width: 138px;
}

div#__container1--Grid {
    width: 710px;
}

div#__container2--Grid {
    width: 501px;
}

div#__xmlview1--SimpleFormChange354wide--Form--Grid {
    padding-left: 0px;
}




/*for bar text bold*/
.sapMIBar-CTX .sapMTitle {
    color: #f7f7f7;
    font-weight: bold;
}




/*for Background color of bar*/
.sapMIBar.sapMHeader-CTX {
    background-color: #e24040;
    padding-right: 0.25rem;
   
}
.sapMBarPH {
    background-color: #e24040;
    padding-right: 0.25rem;
   
}

/*For Makimg tab  text Bold*/
.sapMITBFilter .sapMITBText {
    line-height: .9375rem;
    overflow: hidden;
    padding: 0.375rem 0 0;
    position: relative;
    text-overflow: ellipsis;
    width: 5rem;
    color: #333;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    font-weight: bold;
}
/*   for Dialog  */
.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #f7f7f7;
    /* color: #666; */
    margin: 0;
    vertical-align: middle;
}

/*for general tab sapce in between items*/
.sapUiRespGridBreak.sapUiRespGridSpanXL4.sapUiRespGridSpanL3.sapUiRespGridSpanM4.sapUiRespGridSpanS12.sapUiFormElementLbl {
    padding-bottom: 10px;
}

/* for tab icon background*/
.sapMITBSelected .sapMITBFilterDefault {
    background: #e00017;
    color: white;
}

/*for icon tab inner icon red*/
.sapMITBItem .sapMITBFilterIcon, .sapMITBTextOnly .sapMITBItem .sapMITBText, .sapMITBItem.sapMITBAll {
    position: relative;
    color: #e24040;
}


/*for tab background*/
.sapUiMedia-Std-Tablet .sapMITH, .sapUiMedia-Std-Desktop .sapMITH {
    padding: 0 2rem;
    background-color: #0c0c61;
}

div#__container1--Grid {
    width: 493px;
}

div#__container2--Grid {
    width: 350px;
}


/*for general tab form */
div#__container1--Grid {
    width: 373px;
}


.sapMITBFilter .sapMITBText {
    color: white;
    font-weight: bold;
}

/*for Filter View */
.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color: #e24040;
    filter: none;
    background-image: none;
}


.sapMIBar-CTX .sapMLabel {
    color: #f7f7f7;
}


.sapMBtnContent {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 2.375rem;
}
.sapUiScrollBarTouch ::-webkit-scrollbar-thumb
{
	background-color: #e24040 !important;
}
html.sap-desktop ::-webkit-scrollbar-thumb
{
	background-color: #e24040 !important;
}
.sapMObjectAttributeDiv .sapMText, .sapMObjectAttributeDiv .sapMObjectAttributeTitle, .sapMObjectAttributeDiv .sapMObjectAttributeColon, .sapMObjectAttributeDiv .sapMObjectAttributeText
{
	color: #000000 !important;
}
.selectedItemText
{
	color:white !important;
}



sapUiIcon sapUiIconMirrorInRTL sapMBtnCustomIcon sapMBtnIcon sapMBtnIconLeft{
	background-color: #e24040;
}

/*
.sapUiIcon.sapUiIconMirrorInRTL.sapMBtnCustomIcon.sapMBtnIcon.sapMBtnIconLeft{
	background-color: #e24040;
	color :white;
	
}
*/
.sapUiIcon.sapUiIconMirrorInRTL.sapMBtnCustomIcon.sapMBtnIcon{
	background-color: #e24040;
	color :white;
	
}


/*for selected tab icon inner*/
.sapMITBSelected .sapMITBFilterDefault {
    background: #e00017;
    color: white;
}


div.sapMBtnInner.sapMBtnReject
{
	background-color:#e24040 !important;
}
sapMBtnInner.sapMBtnReject:hover
{
	background-color:#e24040 !important;
}



/* For First Selected Item in Master List*/
.sapMLIB.sapMLIBSelected {
	     background: #D3D3D3;
}
.sapMLIB.sapMLIBSelected:hover {
	     background: #D3D3D3;
}

#QUserid-content{
	background-color: #D3D3D3 !important;
}
#QUserid-inner{
	background-color: #D3D3D3 !important;
}
/*
.sapMColumnHeader {
   
    -webkit-text-stroke-width: medium;
}*/

.tblHeader{
	font-weight:bold !important;
}

.sapUiFormElementLbl.sapUiRespGridBreak.sapUiRespGridSpanM4 {
    padding-left: 0px;
}


/*For Appr.Comments*/
.sapMITBFilter .sapMITBText {
    color: white;
    font-weight: bold;
    width: inherit;
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanS12)>.sapMLabel, .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12)>.sapMLabel, .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12)>.sapMLabel, .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanXL12)>.sapMLabel {
    text-align: start !important;
    float: none;
    position: relative;
}
/*For Plant in Master List*/

.sapMObjLAttrDiv{
	width: 80% !important;
}
.sapMObjLStatusDiv {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: top;
}

.sapMObjLAttrRow {
    
    padding-top: 0px  !important;
}

.sapUiFup {
    display: inline-block;
    background-color: #e24040;
}

.sapMUCSeparator {
    display: none;
}

.sapMCb
{
	pointer-events: none;
}
.sapMCbBg
{
	background-color: #bfbfbf !important;
}



.sapUiFormResGridCont {
    padding-bottom: 2rem;
    width: 644px;
}

div#__container2--Grid {
    /* width: 373px; */
    width: 557px;
}




/*.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM3 {
    width: 45%;
}*/


.ClassForLabelChange.sapUiFormElementLbl.sapUiRespGridBreak.sapUiRespGridSpanL3.sapUiRespGridSpanM3.sapUiRespGridSpanS12.sapUiRespGridSpanXL3 {
    width: 289px;
}

/*.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM3 {
    width: 42%;
}*/

.sapMLabelMaxWidth {
    max-width: 100%;
    white-space: break-spaces;
}

.sapMBar {
    line-height: 2.5rem;
}


.sapMObjStatusError .sapMObjStatusText {
    color: #cc1919;
    font-weight: bold;
    font-size: 24px;
}


.sapMObjStatusSuccess .sapMObjStatusText {
    font-weight: bolder;
    font-size: 15px;
}


.sapMObjLAttrRow:nth-child(1)>.sapMObjLAttrDiv .sapMObjectAttributeDiv, .sapMObjLAttrRow:nth-child(2)>.sapMObjLAttrDiv .sapMObjectAttributeDiv {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140%;
}

html.sap-phone .sapMITB .sapMITBHead {
    display: inline-block;
    margin: 1rem 0 0;
    vertical-align: top;
    padding: 11px;
}


.sapUiMedia-Std-Phone .sapMITBInLine.sapMITBTextOnly .sapMITBVertical.sapMITBFilter {
    margin-top: -11px;
    border-radius: 15px;
    height: 62px;
    width: 89px;
    border-left: double;
    border-right: double;
    border-color: red;
}


.sapUiMedia-Std-Phone.sapMITBTextOnly .sapMITBFilter .sapMITBText {
    margin-top: 13px;
    overflow-wrap: break-word;
    text-align: center;
    white-space: normal;
    max-inline-size: fit-content;
    height: 1rem;
    line-height: -1rem;
    border-inline-end-width: -91px;
    line-break: auto;
    /* margin: 0; */
    /* padding: 0; */
    /* width: auto; */
    /* overflow: visible; */
}



.sapUiMedia-Std-Phone .sapMITH {
   padding: 0 2rem;
    background-color: #0c0c61;
    padding-left: 0px;
    padding-right: 0px;
  /*  height: 50px;
    margin-top: 20px;
  /*  padding-top: 10px;*/
   /* padding: 0 1rem;
    height: 81px;
    margin-top: -13px;
    /* padding-top: 21px; */
}



/*To color and bold document type*/

.clsDocType.sapMObjectAttributeDiv .sapMText, .sapMObjectAttributeDiv .sapMObjectAttributeTitle, .sapMObjectAttributeDiv .sapMObjectAttributeColon, .sapMObjectAttributeDiv .sapMObjectAttributeText {
    color: #af5127 !important;
    font-weight: bold;
}

/*To color and Bold plant*/
.PlantAttributes.sapMObjectAttributeDiv .sapMText, .sapMObjectAttributeDiv .sapMObjectAttributeTitle, .sapMObjectAttributeDiv .sapMObjectAttributeColon, .sapMObjectAttributeDiv .sapMObjectAttributeText {
    color: #1f1b79 !important;
    font-weight: bold;
}

/*To color and bold vendor*/
.clsvendor.sapMObjectAttributeDiv .sapMText, .sapMObjectAttributeDiv .sapMObjectAttributeTitle, .sapMObjectAttributeDiv .sapMObjectAttributeColon, .sapMObjectAttributeDiv .sapMObjectAttributeText {
    color: #0a4b62 !important;
    font-weight: bold;
}

.sapMTextMaxLine {
    font-weight: bold;
    display: block;
}

/*To Make Price Bold*/

.sapMObjLNumberStateNone {
    color: #333333;
    font-weight: bold;
}



/*Price unit*/
.sapMObjLNumberDiv .sapMObjectNumber .sapMObjectNumberUnit {
    font-weight: bold;
    padding: 0;
    display: block;
}



.clsattchment.sapMObjectAttributeDiv .sapMText, .sapMObjectAttributeDiv .sapMObjectAttributeTitle, .sapMObjectAttributeDiv .sapMObjectAttributeColon, .sapMObjectAttributeDiv .sapMObjectAttributeText {
    color: black !important;
    font-weight: normal !important;
}

/*IN approval status to make it in inlinw */
.sapMObjLAttrRow .sapMObjStatus {
    /* margin-bottom: 9px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: -22px;
}

.sapMObjStatusNone > .sapMObjStatusText, .sapMObjStatusNone > .sapMObjStatusIcon {
    font-weight: bold;
    color: #000000;
}



/*IN approval status to make it in inlinw */
.sapMObjLAttrRow .sapMObjStatus {
    /* margin-bottom: 9px; */
  /*margin-left: 143px;  21/4/2021*/
  margin-left: 29px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  margin-top: -4px;
}

.sapMUCStatusContainer .sapMObjStatus {
    font-weight: bold;
    display: inline;
}



.sapMObjLStatusDiv {
    margin-top: -21px;
    margin-left: -33px;
    box-sizing: border-box;
    display: inline-block;
    width: 61%;
    text-align: right;
    vertical-align: top;
}

.DevInput{
	margin-top: 12px;
}

.LabelDev{
	width: 202px;
}



.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanS12), .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanM12), .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanL12), .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanXL12) {
    width: 197px;
    padding-top: 1rem;
}